/* Globals */
@import 'vars';

/* Blocks */
@import "blocks/header";
@import 'blocks/main';
@import 'blocks/tribute-info';
@import "blocks/chronology";
@import "blocks/footer";

/* Vendor libs */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@100&display=swap');

/* Default styles */
body {
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: $gl_color_white_grey;
  background-color: $gl_color_dark;
  max-width: 1920px;
}


